<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Buenas tardes, este es el servicio automatizado de DevuelveMe Aplication.</h1>
    <p>
      Estimad@: <%= @friend.name %>.
    </p>
    <p>
    Lamentamos informarle que su prorroga esta por vencer, tiene exactamente 5 (CINCO) dias para hacer la entrega del libro: <%= @book.title %>, numero de isbn: <%= @book.isbn %>. <br/><br/>
    Si cree que este correo no le corresponde por favor, notifiquenos respodiendo el mismo
    </p>  
    <p>Gracias por preferirnos.<br/>Att: DevuelveMe Staff</p>
  </body>
</html>