<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Buenas tardes, este es el servicio automatizado de DevuelveMe Aplication.</h1>
    <p>
      Estimad@: <%= @friend.name %>.
    </p>
    <p>
      Si esta recibiendo este correo quiere decir que usted recibio un prestamo el dia: <%= @loan.created_at %> del libro: <%= @book.title %>, numero de isbn: <%= @book.isbn %> y su fecha de entrega es: <%= @loan.deadline %><br/><br/>

      Si asi lo desea, presionando el link que se encuentra abajo, el sistema le otorgara una prorroga de 5 (CINCO) dias habiles para realizar su entrega. <br/><br/>


      http://localhost:3000/loan/prorroga/?loan_id=<%= @loan.id %>
    </p>
    <p>Si tienes alguna duda o sugerencia, no dude en responder este correo.<br/>
    De igual manera si cree que no debio recibir este correo, notifiquenos respondiendo el mismo.</p>
    <p>Gracias por preferirnos.<br/>Att: DevuelveMe Staff</p>
  </body>
</html>